name: Automatisation des tests

on: push

jobs:
  Compilation:
    runs-on: ubuntu-latest
    steps:
      - name: Récupération du dépôt
        run: |
          last_directory=$(basename ${{ runner.workspace }})
          git clone https://github.com/${{ github.repository }}.git
          cd ./$last_directory
          mkdir build
          cd build
          cmake ..
          make
          make test

  Test_Add:
    runs-on: ubuntu-latest
    needs: Compilation
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        run: |
          last_directory=$(basename ${{ runner.workspace }})
          git clone https://github.com/${{ github.repository }}.git
          cd ./$last_directory
          mkdir -p build
          cd build
          cmake ..
          make

      - name: Run test "add" and capture report
        run: |
          cd build
          set -e
          echo "== Test add 10 5 ==" > report.txt
          ./src/calculator add 10 5 | tee -a report.txt
          echo "Exit code: $?" >> report.txt

      - name: Upload report as artifact
        uses: actions/upload-artifact@v4
        with:
          name: test-add-report
          path: build/report.txt
          retention-days: 14

      - name: Job summary (facultatif)
        run: |
          echo "### Résultat du test *add*" >> $GITHUB_STEP_SUMMARY
          echo '' >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY
          cat build/report.txt >> $GITHUB_STEP_SUMMARY
          echo '```' >> $GITHUB_STEP_SUMMARY

  Test_Sub:
    runs-on: ubuntu-latest
    needs: Compilation
    steps:
      - name: Test sub
        run: |
          last_directory=$(basename ${{ runner.workspace }})
          git clone https://github.com/${{ github.repository }}.git
          cd ./$last_directory
          mkdir build
          cd build
          cmake ..
          make
          ./src/calculator sub 10 3

  Test_Mul:
    runs-on: ubuntu-latest
    needs: Compilation
    steps:
      - name: Test mul
        run: |
          last_directory=$(basename ${{ runner.workspace }})
          git clone https://github.com/${{ github.repository }}.git
          cd ./$last_directory
          mkdir build
          cd build
          cmake ..
          make
          ./src/calculator mul 3 7

  Test_Div:
    runs-on: ubuntu-latest
    needs: Compilation
    steps:
      - name: Test div
        run: |
          last_directory=$(basename ${{ runner.workspace }})
          git clone https://github.com/${{ github.repository }}.git
          cd ./$last_directory
          mkdir build
          cd build
          cmake ..
          make
          ./src/calculator div 10 2

  Test_Car:
    runs-on: ubuntu-latest
    needs: Compilation
    steps:
      - name: Test car
        run: |
          last_directory=$(basename ${{ runner.workspace }})
          git clone https://github.com/${{ github.repository }}.git
          cd ./$last_directory
          mkdir build
          cd build
          cmake ..
          make
          ./src/calculator car 5

  Deployment:
    runs-on: ubuntu-latest
    needs:
      - Test_Add
      - Test_Sub
      - Test_Mul
      - Test_Div
      - Test_Car
    steps:
      - name: Déploiement
        run: |
          echo "Déploiement de la solution"
